@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

li a{
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header,
.footer,
.left-links,
.right-links,
.content {
  display: flex;
}

.header,
.footer {
  padding: 20px;
  justify-content: space-between;
}

.left-links,
.right-links {
  gap: 10px;
}

.content{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer {
  background-color: #eeeeee;
}

.buttons button{
  padding: 10px 15px;
}