.elementOne {
    background-color: black;
    color: white;
}

.elementTwo {
    background-color: yellow;
}

.elementOne,
.elementTwo {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}